@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* header start */
/* section home start */
/* container start */

.background-image {
  background-image: url(../image/home.jpg);
  height: 100vh;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  left: 153.3px;
}

.background-image h2 {
  color: white;
  font-size: 30px;
  left: 600px;
  top: 400px;
  position: absolute;
  font-family: "Open Sans", sans-serif;
}

.background-image h1 {
  color: white;
  font-size: 60px;
  left: 530px;
  top: 310px;
  position: absolute;
  font-family: "Open Sans", sans-serif;
}

.background-image span {
  color: rgb(221, 65, 69);
  font-size: 60px;
  left: 700px;
  top: 310px;
  position: absolute;
  font-family: "Open Sans", sans-serif;
}
/* container end */
/* section home end */
/* header end */
/* main start */
/* navbar start */
.navbar {
  background: rgb(17, 17, 17);

  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 180px;
  z-index: 999;
}
/* navbar-itens start */
.navbar-items {
  margin-top: 150px;
}

.my-photo {
  height: 100px;
  border: 5px solid rgb(72, 72, 72);
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 30px;
  width: 110px;
}

.navbar h1 {
  color: rgb(255, 255, 255);
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  margin-left: 30px;
}

.navbar p {
  color: rgb(138, 138, 134);
  margin-left: 30px;
  margin-top: 9px;
}
/* navbar-itens end */
/* navbar-links start */

.navbar-links {
  margin-top: 50px;
}

.navbar-links a {
  letter-spacing: 0.5px;
  line-height: 100%;
  text-decoration: none;
  list-style: none;
  padding-bottom: 20px;
  display: block;
  margin-left: 50px;
  color: rgba(232, 232, 232, 0.95);
}
/* navbar-links end */
/* navbar end */
/* section about start */

#about {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 170px;
  margin-top: 100px;
}
/* text-and-photo start */

.text-and-photo h1 {
  font-size: 36px;
}
.my-bigger-pic {
  margin-top: 30px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  height: 450px;
  max-width: 400px;
  padding: 0.25rem;
}

.text-and-photo h5 {
  padding-top: 20px;
  font-size: 12px;
  color: #333;
  font-family: "Open Sans", sans-serif;
}
/* text-and-photo end */
/* title-and-subtitle start */

.title-and-subtitle {
  margin-top: 150px;
}
.title-and-subtitle h5 {
  margin-left: 50px;
  color: rgb(221, 65, 69);
  font-size: 16px;
}
.title-and-subtitle h2 {
  margin-left: 50px;
  padding-top: 16px;
}

.title-and-subtitle p {
  margin-left: 50px;
  padding-top: 16px;
  font-size: 12px;
}

.title-and-subtitle h6 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.08);
  padding-top: 30px;
  margin-left: 50px;
}
/* about-bottom start */

.about-bottom {
  display: flex;
  margin-top: 40px;
}
/* bottom-right start */
.bottom-right h1 {
  font-size: 14px;
  margin-left: 50px;

  color: rgb(51, 51, 51);
}

.bottom-right h2 {
  font-size: 14px;

  color: rgb(51, 51, 51);
}
/* bottom-right end */

/* bottom-left start */

.bottom-left span {
  margin-left: 200px;
  color: rgb(51, 51, 51);
}

.bottom-left a {
  font-size: 14px;

  color: rgb(234, 148, 165);
}

.bottom-left h2 {
  font-size: 14px;
  margin-left: 200px;
  display: block;

  color: rgb(51, 51, 51);
}
/* bottom-left end */

/* two-buttons start */

.two-buttons {
  margin-top: 50px;
  margin-left: 50px;
}

.btn-download {
  border: 1px solid #dc3545;
  border-radius: 30px;
  width: 130px;
  height: 36px;
  background-color: rgb(169, 47, 43);
  color: white;
  cursor: pointer;
}

.btn-my-work {
  border: 1px solid #c5c5c5;
  border-radius: 30px;
  width: 120px;
  height: 36px;
  background-color: white;
  color: #222;
  cursor: pointer;
  margin-left: 10px;
}
/* two buttons end */
/* about-buttom end */
/* title-and-subtitle end */
/* section about end */
/* section skills start */
#skills {
  margin-top: 100px;
  background-color: #f7f7f7;
}
/* three-cards-up start */
.three-cards-up {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  margin-left: 400px;
}
.card {
  height: 200px;

  border: 1px solid rgba(214, 214, 214, 0.8);
  background-color: rgb(255, 255, 255);
}

.card-text {
  text-align: center;
}
.card-title {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}

/* three-cards-up end */
/* three-cards-down start */
.three-cards-down {
  display: grid;
  grid-template-columns: repeat(3, 0.3fr);
  padding-top: 20px;
  margin-left: 400px;
}
/* three-cards-down end */

/* lets-work start */
.lets-work {
  height: 130px;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.83);
}

/* text-and-paragraph start */
.text-and-paragraph h1 {
  color: white;
  margin-left: 240px;
}
.text-and-paragraph p {
  margin-left: 240px;
}
/* text-and-paragraph end */
/* hire-me start */
.hire-me button {
  margin-top: 30px;
  background-color: rgb(191, 42, 61);
  border: 1px solid rgb(191, 42, 61);
  border-radius: 30px;
  width: 124px;
  height: 34px;
  color: white;
  font-size: 12px;
}

/* hire-me end */
/* lets-work end */
/* section skills end */
/* section portfolio start */

#portfolio {
  margin-top: 100px;
  background-color: #fff;
}
/* portfolio-texts start */
.portfolio-texts h1 {
  margin-left: 420px;
}

.portfolio-texts p {
  margin-left: 420px;
}
/* portfolio-texts end */
/* portfolio images start */
/* portfolio-up-images start */
.portfolio-up-images {
  display: flex;
  margin-left: 420px;
}
.portfolio-up-images img {
  height: 320px;
  padding-right: 20px;
  padding-top: 20px;
}
/* portfolio-up-images end */
/* portfolio-down-images start */
.portfolio-down-images {
  display: flex;
  margin-left: 420px;
}

.portfolio-down-images img {
  height: 320px;
  padding-right: 20px;
  padding-top: 20px;
}
/* portfolio images end */
/* portfolio-down-images end */
/* section portfolio end */
/* seciton testimonials start*/
/* testimonials-cards start  */
#testimonials {
  margin-top: 100px;
  background-color: rgb(247, 247, 247);
}
.testimonials-cards {
  display: flex;
  margin-left: 420px;
}

.testimonials-cards .card {
  height: 200px;
  padding: 0 20px;
  border: 1px solid rgba(214, 214, 214, 0.8);
  background-color: rgb(255, 255, 255);
}

.testimonials-cards .card-text {
  text-align: center;
  margin-top: 50px;
  font-size: 12px;
}

/* testimonials-cards end */
/* section testimonials end */
/* section blog start */
#blog {
  margin-top: 100px;
}
/* blog-cards start */
.blog-cards {
  display: flex;
  margin-left: 420px;
}
.blog-cards .card {
  height: 200px;
  border: 1px solid rgba(214, 214, 214, 0.8);
  overflow: hidden;
}
.blog-cards image {
  width: 200px;
  object-fit: cover;
}

/*blog-cards end */
/* section blog end */
/* section contact start */
#contact {
  background-color: rgb(247, 247, 247);
  margin-top: 100px;
}

#contact h1 {
  margin-top: 50px;
  margin-left: 420px;
  font-size: 30px;
  font-weight: bold;
}

#contact p {
  margin-left: 420px;
}
.inputs {
  margin-left: 420px;
  margin-top: 20px;
}

.btn-send-message {
  margin-top: 10px;
  background-color: rgb(167, 29, 42);
  border: 1px solid rgb(191, 42, 61);
  border-radius: 30px;
  width: 110px;
  height: 36px;
  color: white;
  font-size: 12px;
  font-family: inherit;
}
/* section contact end */
/* main end */
