* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url(../image/home.jpg));
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.background-image span {
  color: rgb(221, 65, 69);
  font-size: 60px;
  left: 590px;
  top: 310px;
  position: absolute;
}

.navbar {
  background: rgb(17, 17, 17);
  width: 200px;
  height: 100vh;
  position: absolute;
  bottom: 0px;
}

.navbar-items {
  margin-top: 150px;
}

.my-photo {
  height: 100px;
  border: 5px solid rgb(72, 72, 72);
  border-radius: 50%;
  margin-bottom: 16px;
  margin-left: 40px;
  width: 110px;
}

.navbar h1 {
  color: rgb(255, 255, 255);
  font-family: "Open sans", sans-serif;
  font-size: 18px;
  margin-left: 30px;
}

.navbar p {
  color: rgb(138, 138, 134);
  margin-left: 30px;
  margin-top: 9px;
}

.navbar-links {
  margin-top: 50px;
}

.navbar-links a {
  letter-spacing: 0.5px;
  line-height: 100%;
  text-decoration: none;
  list-style: none;
  padding-bottom: 20px;
  display: block;
  margin-left: 70px;
  color: rgba(232, 232, 232, 0.95);
}
